*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    color: white;
    font-family: sans-serif;
}

#cadre {
    background-color: white;
    width: 100rem;
    height: 60rem;
    border: 1rem solid lightgrey;
    margin: auto;
}

#gauche, #pres, #photo, #experience, #social, #education, #contact, #profil, #blog, #portfolio, #cont, #resume, #resume div, #resume p, #cont div, #cont p  {
    display: inline-block;
    overflow: hidden;
}

#gauche,#photo,#experience, #social, #education, #contact, #profil, #blog, #portfolio,#pres, #resume div, #cont div  {
    width: 60%;
    height: 100%;
}

#photo {
    width: 40%;
    background-image: url("capture10.PNG");
    background-size: cover;
    float: right;
}

#partiun, #partideux, #partitrois,#deuxc {
    width: 100%;
    height: 33.3%;
}

#experience, #social, #education, #contact, #profil, #blog, #portfolio {
    width: 33.333%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#profil, #education, #blog, #contact, #portfolio{
    margin-left: -3px;
}

#pres {
    width: 66.6%;
    background-color: #35bc7a;
}

#profil {
    background-color: #ff9e00;
    background-image: url("capture5.PNG");
}

#experience {
    background-color: #1e8bc4;
    background-image: url("capture.PNG");
}

#education {
    background-color: #f15a49;
    background-image: url("capture2.PNG");
}

#blog {
    background-color: #35bc7a;
    background-image: url("capture6.PNG");
}

#social {
    background-color: #f86925;
    background-image: url("capture3.PNG");
}

#contact {
    background-color: #1e8bc4;
    background-image: url("capture4.PNG");
}

#portfolio {
    background-color: #f86925;
    background-image: url("capture8.PNG");
}

h1, #pres p {
    text-align: center;
    padding-top: 4%;
}

#deuxc {
    height: 50%;
}
#resume, #cont {
    height: 35%;
    width: 35%;
    border: 2px solid white;
    margin-top: 6%;
    margin-left: 10%;
}

#resume div, #cont div {
    background-size: 90%;
    background-repeat: no-repeat;
    width: 20%;
    margin-left: 15%;
}

#resume div{
    background-image: url("capture11.PNG");
}

#cont div {
    background-image: url("capture12.PNG");
}

#resume p, #cont p {
    padding-bottom: 6%;
    padding-left: 5%;
}

p {
    padding-top: 62%;
}

@media screen and (max-width: 1000px) {
    #cadre, #gauche {
        width: 100%;
        border: none;
    }

    #resume, #cont {
        height: 60%;
    }

    #resume div, #cont div, #photo, #partideux p, #partitrois p, #profil p {
        display: none;
    }

    #resume p, #cont p {
        display: block;
        padding: 0;
        margin-top: 10%;
    }

    h1, #pres p {
        padding-top: 2%;
    }
}